.app.dark {
    --bg-color: blue;
    --inverted-bg-color: beige;

    --primary-color: green;
    --secondary-color: greenyellow;
    --inverted-primary-color: purple;
    --inverted---secondary-color: red;
}