.app.dark {
    --bg-color: #38444c;
    --inverted-bg-color: #ffffff;

    --primary-color: #f0f2f3;
    --secondary-color: #ec1a62;
    --inverted-primary-color: #0b1016;
    --inverted---secondary-color: #ba0d37;
}