.app.normal {
    --bg-color: beige;
    --inverted-bg-color: blue;

    --primary-color: purple;
    --secondary-color: red;
    --inverted-primary-color: green;
    --inverted-secondary-color: greenyellow;
}
