.app.normal {
    --bg-color: #ffffff;
    --inverted-bg-color: #38444c;

    --primary-color: #0b1016;
    --secondary-color: #ba0d37;
    --inverted-primary-color: #f0f2f3;
    --inverted-secondary-color: #ec1a62;
}
